<h1>{{callType}} Request Received</h1>
<ul>
  {{#each Bdata}}
    <li>{{this.key}}: {{this.val}}</li>
  {{/each}}
</ul>

<ul>
    {{#each Qdata}}
    <li>{{this.key}}: {{this.val}}</li>
  {{/each}}
</ul>